.bc:hover {
    background-color: #E7486F;     /* colorB */
    color: white;
}
.bc{
  color: black;
}

.bgwhite:hover {
  color: white;
  /* background-color: red; */
}
.bgwhite {
  color:#E7486F;    /* colorB */
}

/* .bl-color {
  color: black;
}
.bl-color:hover {
  color: white;
} */

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */

/* 957 */